.tour {
  background-image: url("../img/greece-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 565px;
  background-size: 100% 415px;

  &--greece {
    background-image: url("../img/greece-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/greece-mobile@2x.png");
    }
  }

  &--albania {
    background-image: url("../img/albania-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/albania-mobile@2x.png");
    }
  }

  &--macedonia {
    background-image: url("../img/macedonia-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/macedonia-mobile@2x.png");
    }
  }

  &--montenegro {
    background-image: url("../img/montenegro-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/montenegro-mobile@2x.png");
    }
  }

  &--croatia {
    background-image: url("../img/croatia-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/croatia-mobile@2x.png");
    }
  }

  @media (min-width: 768px) {
    background-position: 0 318px;
    background-size: 100% 662px;

    &--greece {
      background-image: url("../img/greece-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/greece-desktop@2x.png");
      }
    }

    &--albania {
      background-image: url("../img/albania-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/albania-desktop@2x.png");
      }
    }

    &--macedonia {
      background-image: url("../img/macedonia-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/macedonia-desktop@2x.png");
      }
    }

    &--montenegro {
      background-image: url("../img/montenegro-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/montenegro-desktop@2x.png");
      }
    }

    &--croatia {
      background-image: url("../img/croatia-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/croatia-desktop@2x.png");
      }
    }
  }

  @media (min-width: 1024px) {
    background-position: 560px 0;
    background-size: 430px 596px;
  }
}

.tour__name {
  margin: 0;
  margin-bottom: 20px;
  color: #2c2e3f;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: 1024px) {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 55px;
    line-height: 90px;
    text-align: left;
    letter-spacing: $title-letter-spacing;

    &::before {
      position: absolute;
      content: "";
      width: 175px;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #fe7865;
    }
  }
}

.tour__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  color: rgba(44, 46, 63, 0.3);
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: $content-letter-spacing;

  @media (min-width: 1024px) {
    padding: 0;
    margin-bottom: 55px;
    text-align: left;
  }
}

.tour__link {
  margin-bottom: 100px;
  padding: 19px 70px;

  @media (min-width: 768px) {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 110px;
    padding: 19px 35px;
  }

  @media (min-width: 1024px) {
    margin: 0;
    margin-bottom: 20px;
    padding: 30px 40px;
  }
}

.tour__container {
  @media (min-width: 1024px) {
    width: 385px;
    margin: 0;
    padding-left: 20px;
  }
}

.tour__review {
  @media (min-width: 1024px) {
    align-self: center;
    margin: 0;
  }
}
